@font-face {
  font-family: 'arrow-icon';
  src: url('../font/arrow.eot?57231838');
  src: url('../font/arrow.eot?57231838#iefix') format('embedded-opentype'),
       url('../font/arrow.woff?57231838') format('woff'),
       url('../font/arrow.ttf?57231838') format('truetype'),
       url('../font/arrow.svg?57231838#arrow') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #aaa;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cf:after {
    content: ' ';
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
.visualhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "arrow-icon";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
}
.icon-left-open:before { content: '\e800';} /* '' */
.icon-right-open:before { content: '\e801';} /* '' */

.calendar {
    width: 350px;
    background-color: #fafafa;
}
.calendar * {
    -webkit-user-select: none;
    user-select: none;
}
.cl-head {
    padding-top: 10px;
}
.cl-year,
.cl-month {
    width: 120px;
    padding-left: 10px;
}
.cl-prev-year,
.cl-next-year,
.cl-prev-month,
.cl-next-month {
    color: #aaa;
    cursor: pointer;
}
.cl-prev-year:hover,
.cl-next-year:hover,
.cl-prev-month:hover,
.cl-next-month:hover {
    color: #777;
}
.cl-year-list,
.cl-month-list {
    padding: 0 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}
.cl-current {
    margin-right: 15px;
    width: 20px;
    height: 27px;
    line-height: 27px;
}
.cl-current-date {
    display: inline-block;
    margin-top: 3px;
    width: 18px;
    height: 18px;
    line-height: 1;
    text-align: right;
    border: 1px solid #ccc;
    cursor: pointer;
}
.cl-current-date:after {
    content: '';
    display: inline-block;
    margin-right: 3px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #aaa;
}
.cl-current-date:hover {
    border-color: #aaa;
}
.cl-current-date:hover:after {
    background-color: #777;
}
.week-titles {
    border-bottom: 1px solid #ccc;
}
.week-titles li {
    float: left;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: default;
}
.days-list li {
    float: left;
    width: 33px;
    padding-right: 17px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    color: #444;
    -webkit-transition: background-color .15s ease-in;
    transition: background-color .15s ease-in;
}
.days-list li:hover {
    background-color: #eaeaea;
    color: #000;
    cursor: default;
}
.days-list .weekend,
.days-list .weekend:hover {
    color: #f60;
}
.days-list .prev-month,
.days-list .next-month,
.days-list .prev-month:hover,
.days-list .next-month:hover {
    color: #ccc;
    background-color: #fafafa;
}
.days-list .now,
.days-list .now:hover {
    background-color: #3bf;
    color: #fff;
    text-shadow: 0 0 4px #777;
}